.footer {
	padding: 10rem 0;
	background: $color-primary;
	color: $color-white;

	@include respond(tab-port) {
		padding: 5rem 0;
	}

	&__box {
		padding: 3rem;

		h3 {
			color: $color-white;

			@include respond(tab-port) {
				text-align: center;
			} 
		}

		a {
			display: block;
			padding: 0;
			font-size: 1.3rem;
		}
	}

	&__text {
		font-size: 1.3rem;

		@include respond(tab-port) {
			text-align: center;
		}

		span {
			font-weight: 700;
		}
	}

	&__copyright {
		margin-top: 8rem;
		text-align: center;
		font-size: 1.2rem;
	}
}